<div id="right-room-div">

      <div class="content">
<!-- <h4><small>Content</small></h4>
      <hr>
      <h2>Test</h2>
      <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
      <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
      <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <br><br>  -->
</div>

<!-- <div id="content" [innerHtml]="fileContent"> -->
<!-- {{fileContent}} -->
<!-- </div> -->

<div class="card" [ngStyle]="{'height': cardHeight>0 ? cardHeight + 'px' : '100%' }">

      <iframe id="iframe-id" class="card" *ngIf='filePath' [src]="filePath"></iframe>
</div>

</div>
<!-- <link href="../../assets/HTML_PHENIX/default.htm" rel="import"/> -->

<!-- <frameset rows="*"> -->
 <!-- <frame src="../assets/HTML_PHENIX/default.htm">  -->
 <!-- </frameset> -->
